html, body{
    position:relative;
    background-color:#ffffff;
    /*background: transparent url('../images/roughclothcream.png') repeat;*/
    padding: 0;
    margin: 0;
    width: 100%;
    min-width:100%;
    /* required to have the white space reach the bottom
     of the screen */
    height:100%;
    min-height:100%;
    
    font-family: "Lucida Sans Unicode", "Lucida Grande",  Verdana, Helvetica, Arial, sans-serif; 
    font-size: 100%;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
}

#main-wrapper{
    margin:auto;
    width:80%;
    max-width:1000px;
    height:100%;
}

#search-input{
    border-radius:3px;
}

#search-button{
    border-radius:1px;
    padding:.2em .8em;
    border: #e0b4a7 1px solid;
    background-color:#CC816B;
    color:white;
    box-shadow: grey 1px 1px 2px;
}

#photos{
    width:100%;
    border:1px dashed grey;
    transition: 0.2s;
    -moz-transition: 0.2s; /* Firefox 4 */
    -webkit-transition:  0.2s; /* Safari and Chrome */
    -o-transition: 0.2s; /* Opera */
}

#photos .photo-frame{
    display:inline-block;
    text-align:center;
    padding:3px;
    padding-bottom:1px;
    margin:0;
}

#photos img{
    display:inline-block;
    border-radius:3px;
    margin:0;
    padding:0;
}

.photo-clipper{
    display:inline-block;
    position:relative;
    border-radius:3px;
    overflow:hidden;
}

.photo-clipped{
    /*position:absolute;*/
}

#words-col-wrap, #tweets-col-wrap{
    float:left;
    width:46%;
    padding:1%
}

#tweets-col img{
    width:48px;
    height:48px;
}

#tweets-col li{
    list-style-type:none;
    padding:0;
    margin:0;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}